
@{
    ViewBag.Title = "List";
    Layout = null;
}

<h2>List</h2>

<h3>This is the /Views/Home/List.cshtml View</h3>
<!-- 
    视图引擎将按照规定的顺序先后在 /Views/Home 和 /Views/Shared 文件夹下查找 _MyPartial 视图。 
    显示优先查找到的视图来显示。
-->
@Html.Partial("_MyPartial")

